Repository GSM-Lib/Central-Meister, pull requests merged in 2022-05, with the labels that each got.

#1 🔀 자바 폴더 생성 및 클래스가 무엇인지 정리
  Common/Language/Java/Class.md
Labels: Common

#2 🔀 :: 앱의 콘텐츠나 데이터 자체를 저장, 보관하는 특별한 객체를 무엇이라고 하는가?
  iOS/Interview/앱의 콘텐츠나 데이터 자체를 저장, 보관하는 특별한 객체를 무엇이라고 하는가?.md
Labels: iOS

#3 기초적인 var let에 대해
  iOS/Swift/Declarations.md
Labels: iOS

#5 🔀 :: Docker..?
  Common/CS/DevOps/docker.md
Labels: Common

#7 🔀 LomBok
  Backend/Spring/Lombok.md
Labels: BackEnd

#9 OSI 7계층
  Common/CS/Network/OSI.md
Labels: Common

#6 🔀 :: SOLID
  Common/CS/SOLID.md
Labels: Common

#8 🔀 :: App thinning
  iOS/Interview/App thinning에 대해 설명하시오.md
Labels: iOS

#10 🔀 스프링보단 자바아래가 맞는거 같습니다
  Common/Language/Java/Lombok.md
Labels: Common
